.truncate {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.movie-card {
    transition: .3s;
    cursor: pointer;
}

.movie-card:hover {
    transform: scale(.97);
}
